html, body{
	height: 100% !important;
	margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

body.admin-bar .fixed-top{
    top:30px !important;
}

body.home .navbar{
    box-shadow: none;
    background-color: transparent !important;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

body.home .scrolling-nav{
    background-color: #212121 !important;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.mt-50{
    margin-top: 50px;
}

.pt-20{
    padding-top: 20px;
}

.mb-100{
    margin-bottom: 100px;
}

.mb-20{
    margin-bottom: 20px;
}

.pb-20{
    padding-bottom: 20px;
}

/***** SCROLL TO TOP ********/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #b2bec3;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 0.7;
}
/***** END ********/

/****CARD****/
.card-container{
    padding-top: 20px;
}
.card-icon{
    font-size: 80px;
    /*padding-top: 10px;*/
}
.indigo.lighten-1 {
    /*background-color: #5c6bc0!important;*/
    /*background: linear-gradient(40deg,#2096ff,#05ffa3);*/
    /*background: linear-gradient(40deg,#576574,#8395a7);*/
    background: linear-gradient(40deg,#2e86de ,#8395a7);
}
.blue-de-france{
    background-color: #2e86de !important;
}

.testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
    border-radius: .3rem .3rem 0 0;
}
.testimonial-card .avatar {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: -65px auto 0;
    overflow: hidden;
}

.services-container .testimonial-card .avatar {
    border: 3px solid rgba(0, 0, 0, 0.52);
}

.team-section .testimonial-card .avatar {
    border-radius: 50%;
    height: auto; 
    width: auto;
    margin: -65px auto 0;
    overflow: hidden;
}
.team-section .testimonial-card .avatar img{
    width: 135px;
}

/****FRONT PAGE****/
.front-page-banner{
    background: url('../imgs/matthew-kerslake-759275-unsplash-2.jpg') no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 87%;  
    background-position: 50% 30%;
}

.banner-text{
    position: absolute;
    top: 50%;
    text-align: center;
}
    
    .banner-text .trans-box{
        font-size: 60px;
        color: #FFF;
        background-color: rgba(0, 0, 0, 0.5);
        width: 48%;
        display: inline-block;
    }

.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.cyan{
	color: #4dd0e1;
}

.active-cyan .fa{
    color: #4dd0e1;
}
.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}
/****CONTENT****/
.content-container{
	/* margin-top: 40px;
    margin-bottom: 55px; */
    padding-top: 40px;
    padding-bottom: 25px;
}

.card-article{
	margin-bottom: 30px;
}

.section-title{
    font-size:60px;
}

/****SIDEBAR****/
#sidebar-column{
	margin-top: 40px;
}

/****FOOTER****/
.site-footer{
    color:#FFF;
    width: 100%;
    /*temporary fix*/
    position: fixed;
    bottom: 0;
    left: 0;
}
	.footer-container{
	    background-color:#2d3436;
	    height: 35px;
	}
	.footer-text{
        float: right;
    	font-size: 10px;
	    margin-top: 10px;
	}

@media only screen and (max-width: 1210px) {

    .banner-text .trans-box{
        font-size: 25px !important;
    }

}